<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <div class="w-full h-screen flex flex-col justify-center items-center">
    <%- include('../../views/welcome',{data: 'VirgilPress'})%>
    <a href="/hello.html">Click to visit Hello page</a>
  </div>
</body>

</html>