<div class="md:w-1/3 w-full">
  <img class="w-3/4 mx-auto" src="assets/img/virgil.jpg" alt="virgil" />
  <p class="mt-6 font-serif text-center">
    Welcome to your new <strong><%= data %></strong> project! <br>
    Have fun.
  </p>
</div>